
.App {
    display: grid;
    place-items: center; 
    height: 100vh; 
  }
.card-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(118, 8, 115);
  }
.card {
    position: relative; 
    top: -13px; 
    background-color: rgba(236, 228, 228, 0.8); 
    padding: 20px;
    margin: 25px;
    box-shadow: 0 4px 8px ;
    border-radius: 10px; 
  }
.card button {
  background-color: blueviolet;
  color: white;
}
  
  
  